
<div class="page-container">

  <%= link_to moodboard_shuffle_path(@moodboard), class: "shuffle-btn" do %>
          <span>
             Back to Shufflle
            <i class="fa-sharp fa-solid fa-shuffle"></i>
          </span>
        <% end %>

  <% @moodboards.each do |moodboard| %>



  <div class="container-wrapper">
      <div class="container moodboard">
        <h4 class="moodboard-name"><%= moodboard.name %></h4>
      </div>
    <% @moodboard.items.sort.each do |item| %>
      <div class="container-item-wrapper">
        <div class="item-image-wrapper">
            <%= cl_image_tag item.photo.key, class: "item-image" %>
        </div>
          <div class="item-info">
            <div><%= item.pretty_name %></div>
        </div>
      </div>
    <% end %>
  </div>




</div>

<!--

-->

<!--
Second try
 <div class="container wrapper">
      <div class="container moodboard">
        <h4 class="moodboard-name"><%= moodboard.name %></h4>
      </div>
      <div class="items">
        <% @moodboard.items.sort.each do |item| %>
          <% pin = item.moodboard_pin(@moodboard) %>
          <div class="item">
            <div class="item-image-wrapper">
              <%= cl_image_tag item.photo.key, class: "item-image" %>
            </div>
            <div class="item-info">
              <div><%= item.pretty_name %></div>
            </div>

        <% end %>
      </div>
    </div>
</div>

-->

<% end %>



<!--
<div class="container">
  <div class="grid-container-element">
      <div class="grid-child-element purple">Grid Column 1</div>
      <div class="grid-child-element green">Grid Column 2</div>
  </div>
</div>

-->





<!--
  <div class="left-side">
    <h1 id="title-moodboard">Create <br> Moodboard</h1>
    <br>
    <p>Click the add button to add a pin</p>

    <div class="items">
      <% @moodboard.items.sort.each do |item| %>
        <% pin = item.moodboard_pin(@moodboard) %>
        <div class="item">
          <div class="item-image-wrapper">
            <%= cl_image_tag item.photo.key, class: "item-image" %>
          </div>
          <div class="item-info">
            <div><%= item.pretty_name %></div>
          </div>
         <%= link_to pin.pinned? ? "Unpin" : "Pin", moodboard_pin_path(@moodboard, pin), data: { turbo_method: :put }, class: pin.pinned? ? "unpin-btn" : "pin-btn" %>
        </div>
      <% end %>
    </div>
  </div>
-->

<!--
Modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
 Save
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= simple_form_for @moodboard do |f| %>
        <div class="modal-body">
          <%= f.input :name, input_html: { value: "" } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit "save moodboard", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

-->
