<div class="whole-page" data-ajax-moodboard-value="<%=@moodboard.id %>">

  <div class="left-side">
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path, class:"breadcrumb-link" %></li>
      <li class="breadcrumb-arrow">></li>
      <li><%= link_to "Dashboard", moodboards_path, class:"breadcrumb-link" %></li>
    </ul>
    <h1 id="title-moodboard">Create <br> Moodboard</h1>
    <br>
    <p>Click pin to keep an item from shuffling</p>
    <div class="items">
      <% @moodboard.items.sort.each do |item| %>
        <% pin = item.moodboard_pin(@moodboard) %>
        <div class="item">
          <div class="item-image-wrapper">
            <%= cl_image_tag item.photo.key, class: "item-image" %>
          </div>
          <div class="item-info">
            <div><%= item.pretty_name %></div>
          </div>
          <% if current_user == @moodboard.user %>
            <div data-id="<%=item.id%>">
              <%= link_to pin.pinned? ? "Unpin" : "Pin", moodboard_pin_path(@moodboard, pin), data: { turbo_method: :put }, class: pin.pinned? ? "unpin-btn" : "pin-btn" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="right-side">

    <div class="item-wrapper">
      <div class="lamp m-4" style="background-image: url('<%= cl_image_path @lights_item.photo.key, height: 1000, crop: :fill %>')">
        <%# light %>
      </div>

      <div class="rug" style="background-image: url('<%= cl_image_path @rugs_item.photo.key, height: 1000, crop: :fill %>')">
        <%# rug %>
      </div>

      <div class="sofa" style="background-image: url('<%= cl_image_path @sofas_item.photo.key, height: 1000, crop: :fill %>')">
        <%# sofa %>
      </div>


      <div class="chair" style="background-image: url('<%= cl_image_path @chairs_item.photo.key, height: 1000, crop: :fill %>')">
        <%# chair %>
      </div>

      <div class="side-table" style="background-image: url('<%= cl_image_path @coffee_tables_item.photo.key, height: 1000, crop: :fill %>')">
        <%# side table %>
      </div>

    </div>
      <% if current_user == @moodboard.user %>
        <div class="buttons">

        <%= link_to moodboard_shuffle_path(@moodboard), class: "shuffle-btn" do %>
          <span>
              Shuffle
            <i class="fa-sharp fa-solid fa-shuffle"></i>
          </span>
        <% end %>


        <button type="button" class="save-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Save <i class="fa-regular fa-heart"></i>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3>Please fill out</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <%= simple_form_for @moodboard do |f| %>
                <div class="modal-body">
                  <%= f.input :name, input_html: { value: "" }, require: true, placeholder: "Type in here" %>
                </div>
                <div class="modal-footer">
                  <%= f.submit "Save", class: "btn-save-moodboard" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <!-- <%= link_to moodboard_shuffle_path(@moodboard), class: "save-btn" do %>
          <span>
              Save
            <i class="fa-regular fa-heart"></i>
          </span> -->

        <% end %>




        </div>
      <% end %>
  </div>
</div>
