<div class="container">
  <div class="d-flex justify-content-center">
    <div class="item-wrapper">
      <div class="lamp m-4" style="background-image: url('<%= cl_image_path @random_lights_item.photo.key, height: 1000, crop: :fill %>')">
        <%# light %>
      </div>

      <div class="rug" style="background-image: url('<%= cl_image_path @random_rugs_item.photo.key, height: 1000, crop: :fill %>')">
        <%# rug %>
      </div>

      <div class="sofa" style="background-image: url('<%= cl_image_path @random_sofas_item.photo.key, height: 1000, crop: :fill %>')">
        <%# sofa %>
      </div>

      <div class="chair" style="background-image: url('<%= cl_image_path @random_chairs_item.photo.key, height: 1000, crop: :fill %>')">
        <%# chair %>
      </div>


      <div class="side-table" style="background-image: url('<%= cl_image_path @random_coffee_tables_item.photo.key, height: 1000, crop: :fill %>')">
        <%# side table %>
      </div>

    </div>
  </div>
</div>



<%= link_to "Shuffle", @new_moodboard_path, class: "shuffle-btn" %>
