<div class="navbar <%= "d-none" if params[:controller] == "moodboards" && params[:action] == "show" %>">
  <div class = "navbar-left">
    <%= link_to "/", class: "navbar-logo" do %>
      <%= image_tag "roombloom-logo.png" %>
    <% end %>

    <%= link_to "About us", root_path(anchor: 'about-us'), class: "nav-link" %>
    <%= link_to "Contact", root_path(anchor: 'contact'), class: "nav-link" %>
  </div>

  <div class="navbar-right">
    <%= link_to "Dashboard", "#", class: "nav-link" %>
    <% if user_signed_in? %>
      <%= image_tag "pink-panther.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Action", "#", class: "dropdown-item" %>
        <%= link_to "Another action", "#", class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
  </div>
</div>
